<div id="game_window">
  <%= circle_size = 40 - (2*@users.count) %>
  <div id="center_circle" class="circle" style="left: calc(50% - <%= circle_size/2 %>%); width: <%= circle_size %>%; height: <%= circle_size %>%;">
    <p>Select Player</p>
  </div>

  <% @users.each_with_index do |player, i| %>
  <% player_location = ( (360/@users.count) * i) * ( Math::PI / 180) %>
  <% y = Math.sin(user_location) * 35 %>
  <% x = Math.cos(user_location) * 35 %>

  <div
    class="user circle btn"
    id="user_id_<%= user.id %>"
    style="top: calc(<%= y %>% + 50% - <%= circle_size/2 %>%); left: calc(<%= x %>% + 50% - <%= circle_size/2 %>%); background-color: <%= user.color %>; width: <%= circle_size %>%; height: <%= circle_size %>%;">
    <p><%= user.initials %></p>
  </div>
  <% end %>
</div>
